#skills {
    /* background-color: #222; */
    color: #222;
    padding: 5vmin 0;
}

#skills>.skills {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(35vmin, 1fr));
    gap: 1em;
    font-size: clamp(16px, calc(1.25rem + ((1vw - 7.68px) * 2.1701)), 32px);
    font-weight: 700;
    width: min(100vw - 1em, 80%);
    margin: 0 auto;
    color: #eee;
    position: relative;
    z-index: 1;
}

#skills>.skills>div {
    background-color: #222;
    text-align: center;
    padding: 1em 0;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#skills>.skills>div::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(rgba(255, 255, 255, 0.2) 8%, transparent 8%);
    background-size: 3vmin 3vmin;
}