.project-container {
    margin-top: 3vmin;
    width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 2em;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(55vmin, 1fr));
    padding: 0 5vmin 5vmin 5vmin;
}