@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: #181818;
  background-image: url("../public/bg.png");
}

a {
  text-decoration: none;
  color: inherit;
}

.page {
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
}